[Unit]
Description=Raw Data Celery Workers
Documentation=https://github.com/hotosm/raw-data-api/blob/develop/README.md
After=network.target syslog.target

[Service]
Type=simple
User=hotsysadmin
WorkingDirectory=/opt/raw-data-api
ExecStart=/opt/raw-data-api/.virtualenv/bin/celery --app API.api_worker worker --loglevel=INFO
Restart=on-failure
ReadWritePaths=/opt/raw-data-api/API
;
; SECURITY OPTIONS
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=noaccess
ProtectSystem=strict
RemoveIPC=true
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target

