# Celery configuration
CELERY_BROKER_URL=redis://localhost:6379/0  # URL of the Celery message broker (e.g., Redis)
CELERY_RESULT_BACKEND=redis://localhost:6379/0  # URL of the Celery result backend (e.g., Redis)
WORKER_PREFETCH_MULTIPLIER=1  # Celery worker prefetch multiplier

# API configuration
RATE_LIMIT_PER_MIN=20  # Rate limit for API requests per minute
RATE_LIMITER_STORAGE_URI=redis://localhost:6379/1  # Storage URI for the rate limiter (e.g., Redis)
EXPORT_MAX_AREA_SQKM=100000  # Maximum area in square kilometers for exports
INDEX_THRESHOLD=5000  # Index threshold for exports
EXPORT_PATH=exports  # Path for exported files
EXTRA_README_TXT=  # Additional text to include in the README file for exports
ALLOW_BIND_ZIP_FILTER=False  # Whether to allow binding the ZIP filter
ENABLE_SOZIP=False  # Whether to enable SOZIP (Spatial On-the-fly ZIP) for exports
ENABLE_TILES=False  # Whether to enable tiles in exports
USE_CONNECTION_POOLING=False  # Whether to use connection pooling for exports
DEFAULT_QUEUE_NAME=raw_daemon  # Default queue name for tasks
ONDEMAND_QUEUE_NAME=raw_ondemand  # Queue name for on-demand tasks
ENABLE_POLYGON_STATISTICS_ENDPOINTS=False  # Whether to enable polygon statistics endpoints
POLYGON_STATISTICS_API_URL=  # URL for the polygon statistics API (if enabled)
POLYGON_STATISTICS_API_RATE_LIMIT=5  # Rate limit for the polygon statistics API
DEFAULT_SOFT_TASK_LIMIT=7200  # Default soft task limit in seconds
DEFAULT_HARD_TASK_LIMIT=10800  # Default hard task limit in seconds
USE_DUCK_DB_FOR_CUSTOM_EXPORTS=False  # Whether to use DuckDB for custom exports
DUCK_DB_MEMORY_LIMIT=  # Memory limit for DuckDB (if used)
DUCK_DB_THREAD_LIMIT=  # Thread limit for DuckDB (if used)
ENABLE_CUSTOM_EXPORTS=False  # Whether to enable custom exports
LOG_LEVEL=debug  # Log level for the application

# HDX configuration
ENABLE_HDX_EXPORTS=False  # Whether to enable HDX exports
HDX_SOFT_TASK_LIMIT=18000  # Soft task limit in seconds for HDX exports
HDX_HARD_TASK_LIMIT=21600  # Hard task limit in seconds for HDX exports
PROCESS_SINGLE_CATEGORY_IN_POSTGRES=False  # Whether to process a single category in PostgreSQL
PARALLEL_PROCESSING_CATEGORIES=True  # Whether to process categories in parallel
HDX_SITE=  # URL of the HDX site (if enabled)
HDX_API_KEY=  # API key for the HDX site (if enabled)
HDX_OWNER_ORG=225b9f7d-e7cb-4156-96a6-44c9c58d31e3  # Owner organization ID for HDX exports
HDX_MAINTAINER=  # Maintainer for HDX exports
ALLOWED_HDX_TAGS=  # Allowed tags for HDX exports (comma-separated list)
ALLOWED_HDX_UPDATE_FREQUENCIES=  # Allowed update frequencies for HDX exports (comma-separated list)

# Database configuration
REMOTE_DB='{"host":"localhost","username":"postgres","password":"mysecretpassword","dbname":"mydb"}'  # Database connection parameters

# OAuth configuration
OSM_URL=https://www.openstreetmap.org  # URL of the OpenStreetMap site
OSM_CLIENT_ID=your_client_id  # OAuth client ID for OpenStreetMap
OSM_CLIENT_SECRET=your_client_secret  # OAuth client secret for OpenStreetMap
LOGIN_REDIRECT_URI=http://127.0.0.1:8000/v1/auth/callback  # Login redirect URI for OAuth
OSM_PERMISSION_SCOPE=read_prefs  # OAuth permission scope for OpenStreetMap

# Export upload configuration
FILE_UPLOAD_METHOD=disk  # File upload method (disk or s3)
# BUCKET_NAME=your_bucket_name  # S3 bucket name (if using S3 for file uploads)
# AWS_ACCESS_KEY_ID=your_access_key_id  # AWS access key ID (if using S3 for file uploads)
# AWS_SECRET_ACCESS_KEY=your_secret_access_key  # AWS secret access key (if using S3 for file uploads)

# Sentry configuration
SENTRY_DSN=your_sentry_dsn  # Sentry Data Source Name (DSN) for error reporting
SENTRY_RATE=your_sentry_rate  # Sentry rate for error reporting