__pycache__
config.txt
.env
env
venv
*.egg-info
**/.vscode/**
=======
build
**/.pytest_cache/**
newrelic.ini
newrelic.ini_backup
exports
postgres-data
*.out
*.log

Pipfile
Pipfile.lock
.terraform
.terraform/*
*.tfstate

#backend 
backend/data
backend/.env
