[PG]
host=localhost
user=
password=
dbname=
port=

[OAUTH]
client_id=
client_secret=
redirect_uri=http://127.0.0.1:8000/callback
url=https://www.openstreetmap.org
scope=read_prefs

[DUMP]
path=
underpass=underpass.sql
osmstats=osmstats.sql
