aiofiles==0.7.0
asgiref==3.3.4
click==8.0.3
fastapi==0.65.2
h11==0.12.0
importlib-metadata==4.5.0
psycopg2==2.9.1
pydantic==1.10.2
starlette==0.14.2
typing-extensions==4.1.0
uvicorn==0.14.0
zipp==3.4.1
geojson-pydantic==0.3.0
pytest == 7.3.1
geojson == 2.5.0
# Used for new relic monitoring
newrelic == 7.2.4.171
sentry-sdk == 1.5.12

area==1.1.1
orjson==3.9.10
boto3==1.24.38
fastapi-versioning==0.10.0
redis==4.3.4
celery==5.2.7
flower==1.2.0
slowapi==0.1.6
osm-login-python==0.0.2

#''' required for generating documentations '''
mkdocs-material==8.5.11
mkdocs-jupyter==0.22.0
neoteroi-mkdocs==0.1.2
pdocs==1.0.1

##sozipfile
sozipfile==0.3.2