[RAW_DATA]
host=localhost
user=postgres
password=admin
database=raw
port=5434

[OAUTH]
client_id=
client_secret=
url=https://www.openstreetmap.org
scope=read_prefs
login_redirect_uri=http://127.0.0.1:8000/latest/auth/callback/
secret_key=PutSomethingRandmHere

[API_CONFIG]
env=dev
limiter_storage_uri=redis://localhost:6379

[CELERY]
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0