# Please quote passwords to accommodate for shell-unfriendly characters
# Ensure that new database names comply with recommended PGSQL / SQL convention for allowed characters
PGPASSWORD={{ PGPASSWORD }}
PGUSER={{ PGUSER }}
PGHOST={{ PGHOST }}
PGPORT={{ PGPORT }}
PGDATABASE={{ PGDATABASE }}

